* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --color_main: #680001;
}

html {
    scroll-behavior: smooth;
}

p, a,
h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

a:link {
    list-style: none;
}

.wrapper {
    max-width: 1440px;
    background-color: #f3f3f3;
}

.content {
    max-width: 1220px;
    padding: 0 10px;
}

.header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    align-content: center;
    height: 64px;
    width: 100%;
    color: #f3f3f3;
    background: linear-gradient(to right, #B10008 150px, var(--color_main));
}

.header a {
    color: #f3f3f3;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner img {
    height: 50px;
}

.header__inner ul {
    display: flex;
    gap: 12px;
}

main {
    background-image: url(mox-1.jpg);
}

.about {
    padding: 114px 0 50px 0;
    background: url("photo-2.webp") center/cover;
    backdrop-filter: blur(10px);
}

.about__inner {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 12px;
    background-color: rgba(157, 173, 157, 0.5);
    border-radius: 20px;
}

.about__inner p {
    font-weight: 600;
}

.job {
    padding: 50px 0;
}

.job__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.job-openings {
    padding: 10px;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(164, 177, 101, 0.5);
}

.contacts {
    padding: 20px 0;
}

.contacts__inner {
    display: flex;
    justify-content: center;
    gap: 20px
}