.conditions {
    padding: 50px 0;
}

.conditions__inner {
    max-width: 493px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 3px dashed var(--color_font-main);
}

.conditions__title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--font_bold);
    margin-bottom: 20px;
}

.conditions__list li {
    position: relative;
    text-align: end;
    padding-right: 21px;
    margin-bottom: 10px;
}

.conditions__list li::after {
    content: "⛃";
    position: absolute;
    right: 0;
    top: 0;
}