html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 390px;
    margin: 0 auto;
    background-image: url("../../assets/image/wallpaper.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: var(--font_bold);
    color: var(--color_font-main);
}

.content {
    max-width: 350px;
    margin: 0 auto;
    padding: 0 8px;
}

a {
    color: var(--color_font-main);
}