:root {
    --color_header: rgba(6, 65, 99, 0.8);
    --color_header-button: rgb(18, 46, 78);
    --font_bold: "Montserrat-Bold";
    --font_regular: "Montserrat-Regular";
    --color_font-main: white;
}